* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
   
}



:root {
  --bg-dark: #0f172a;
  --bg-light: #f8fafc;
  --text-dark: #e5e7eb;
  --text-light: #111827;
  --accent: #8b5cf6;
}

body.dark {
  background: var(--bg-dark);
  color: var(--text-dark);
}

body.light {
  background: var(--bg-light);
  color: var(--text-light);
}

.dummy-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dummy-section h1 {
  font-size: 60px;
  color: var(--accent);
}
